.gameboxtext h3 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Koulen;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -16px;
}

.gameboxtext p{
	color: #FFF;
font-family: Karla;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.gameboxheader {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #8053FF 87.5%, #4621B0 100%);
    padding-left: 26px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.gameboxicon{
    margin-right: 18px;
}